<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Exam
        </h1>
        <% include ./partials/messages %>
        <form action="/users/dashboard method="POST">
          <div class="form-group">
            <label for="quizTitle">Enter quiz title</label>
            <input
              type="string"
              id="quizTitle"
              name="quizTitle"
              class="form-control"
              placeholder="Enter quiz title"
              value="<%= typeof question != 'undefined' ? question : '' %>"
            />
          </div>
          <a href="/questions" class="btn btn-secondary">Next Quiz</a>
        </form>
        
      </div>
    </div>
  </div>
  